.skills {
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ede1f7;
    color: #000000;
}

.skills ul {
    padding-left: 20px;
}